.SiteCanvas {
  background-color: #fff;
  background-size: 20px 20px;
  border-right: 1px solid #ddd;

  @media (max-width: 575px) {
    min-height: 500px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
    linear-gradient(to bottom, #ddd 1px, transparent 1px);
}
