.Pricing {
  .card {
    max-width: 25rem !important;
  }
  .btn-primary {
    background-color: #51cbce;
  }
  .btn-outline-primary {
    background-color: #fff;
    border: 2px solid #51cbce !important;
  }
}
