@import "../../assets/scss/paper-dashboard/variables";
.Domains {
    background-color: #fff;
    @media (max-width: $sm-screen-size) {
        min-height: 500px;
      }
      .jcb{
        @media (max-width: $sm-screen-size) {
          flex-direction: column;
        }
      }
}