.SiteTemplates {
  .list-group-item-info {
    background-color: #ddf0f3;
  }
  .list-group-item {
    padding: 0.35rem 0.38rem !important;
    .card {
      .card-img-top {
        padding: 0 3px;
        border-bottom: 1px solid #eee;
        border-radius: 0;
      }
      .card-body {
        padding: 5px;
        .card-title {
          line-height: 1em;
        }
        .card-text {
          line-height: 1.4em;
        }
      }
    }
  }
}
